/* Portfolio */
/* icons */
/* modal */
/* form */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
  margin: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.partner-list__link, .feauture-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-submit, .button__primary, .hero__title, .hero {
  margin-left: auto;
  margin-right: auto;
}

.portfolio-list, .filter-list, .location-list, .partner-list, .social-list, .team-list, .about-list, .feauture-list, .site-nav,
.contacts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-container, .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer, .logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #2196f3;
  text-decoration: none;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.72px;
}

.site-nav__link,
.contacts__link {
  fill: #757575;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.button-submit, .button-subscribe, .button__primary {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.96px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team, .feauture-section, .section-about, .section-partner, .main-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-team, .feauture-section, .section-about, .section-partner, .main-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title, .team__title, .about__title {
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.84px;
}
@media screen and (min-width: 1200px) {
  .title, .team__title, .about__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.caption__subtitle, .subscribe-form__title, .social-block__subtitle, .feauture-box__subtitle {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-about {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section-about {
    display: none;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    min-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    display: block;
  }
}
.page-header.container {
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo > .page-header__logo--color {
  color: rgb(33, 33, 33);
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .site-nav,
  .contacts {
    margin: 48px 40px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav,
  .contacts {
    display: flex;
    gap: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link,
.contacts__link {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .site-nav__link,
  .contacts__link {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
}
.site-nav__link:hover, .site-nav__link:hover, .site-nav__link:focus, .site-nav__link:focus,
.contacts__link:hover,
.contacts__link:hover,
.contacts__link:focus,
.contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__link {
  color: #757575;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .contacts__link {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 34px;
    letter-spacing: 0.68px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.site-nav__link--visit {
  color: #2196f3;
  position: relative;
}
@media screen and (min-width: 768px) {
  .site-nav__link--visit::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.menu-container {
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
  }
  .menu-container.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    gap: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
    align-items: center;
    gap: 305px;
  }
}

@media screen and (max-width: 767px) {
  .media-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 64px 0 0 40px;
    display: flex;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .media-list {
    display: none;
  }
}

.media-list__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.media-list__link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
  display: inline-block;
  text-decoration: none;
  padding-right: 10px;
}

.icon-post,
.icon-phone {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .icon-post,
  .icon-phone {
    display: none;
  }
}
.icon-post .icon-post:hover,
.icon-post .icon-post:focus,
.icon-post .icon-phone:hover,
.icon-post .icon-phone:focus,
.icon-phone .icon-post:hover,
.icon-phone .icon-post:focus,
.icon-phone .icon-phone:hover,
.icon-phone .icon-phone:focus {
  fill: currentColor;
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-size: cover;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 360px;
  padding: 0;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
  }
}

.overlay {
  min-height: 400px;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/dec-pic/overlay-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button__primary {
  margin-top: 30px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button__primary:hover, .button__primary:focus {
  background-color: #1d86dd;
}
.button__primary:active {
  color: #2196f3;
  background-color: transparent;
  border: 2px solid #2196f3;
  cursor: pointer;
}

.feauture-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .feauture-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feauture-list__item {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .feauture-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feauture-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feauture-list__item {
    width: calc((100% - 120px) / 4);
  }
}

.feauture-box__subtitle {
  text-align: center;
  margin-bottom: 10px;
}

.feauture-box__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.feauture-box {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.feature-box__icon {
  width: 70px;
  height: 70px;
}

.about__title {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.about-thumb {
  position: relative;
}
.about-thumb__text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 27px 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team-list__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team-box {
    padding-bottom: 30px;
  }
}
.team-box__subtitle {
  margin: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}
.team-box__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.social-list {
  display: inline-flex;
  gap: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  background-color: #ffffff;
  fill: #afb1b8;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}
.social-list__link:hover, .social-list__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  gap: 30px;
}

.partner-list {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.partner-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .partner-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partner-list__item {
    width: 170px;
  }
}

.partner-list__link {
  height: 92px;
  padding: 0;
  margin-top: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partner-list__link:hover, .partner-list__link:focus {
  background-color: transparent;
  fill: #2196f3;
  border: 1px solid #2196f3;
  box-shadow: none;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo-footer {
  display: inline-block;
  margin-bottom: 28px;
}

.logo-footer--color {
  color: #ffffff;
}

.location-block {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .location-block {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .location-block {
    text-align: center;
  }
}

.location {
  display: inline-flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.location__address {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 12px;
}

.footer-list__item:nth-last-child(1) {
  margin-top: 12px;
}

.footer__contacts-link {
  display: inline-block;
  padding: 0px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: #2196f3;
}

@media screen and (min-width) {
  .social-block {
    margin-left: 70px;
  }
}
@media screen and (max-width: 767px) {
  .social-block {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-block {
    text-align: center;
  }
}

.social-block__subtitle {
  margin-bottom: 20px;
  color: #ffffff;
}

.social-list {
  display: inline-flex;
  gap: 10px;
}

.social-list__link--second-color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2); */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form {
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }
}

.subscribe-form__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  translate: border 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--filter-d-shadow));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}
.subscribe-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.subscribe-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  width: 200px;
  margin-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #ffffff;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}
.button-subscribe:hover, .button-subscribe:focus {
  background-color: #1d86dd;
}
.button-subscribe:active {
  background-color: transparent;
  color: #2196f3;
  fill: #2196f3;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
  padding: 0;
}

.filter-list__button-items {
  min-width: 73px;
}

.btn-element {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 25px;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-element:hover, .btn-element:focus {
  color: #ffffff;
  background-color: #1d86dd;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-element:active {
  color: #2196f3;
  background-color: #ffffff;
  border: 1px solid transparent;
}

.portfolio-list__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__link:hover .text-position__description {
  transform: translateY(0);
}

.text-position {
  position: relative;
  overflow: hidden;
}

.text-position__description {
  position: absolute;
  top: 0%;
  left: 0;
  display: block;
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.caption {
  padding: 20px 24px;
  background-color: #ffffff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.caption__subtitle {
  text-transform: none;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.caption__text {
  margin: 0;
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 95px 15px;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -25%) scale(0);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.close {
  position: absolute;
  top: 6px;
  right: 7px;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close:hover .icon-close {
  fill: #2196f3;
}

.submit-form {
  padding: 40px;
  margin: 0;
}

.submit-form__title {
  margin: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.form-field > .label {
  margin-bottom: 4px;
}
.form-field .form-input {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field > .form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-field textarea {
  max-width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea.textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-input ~ .input-icon {
  fill: rgb(33, 33, 33);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .input-icon {
  fill: #2196f3;
}

.input-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
}

textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-input:checked + .icon-checked {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
}
.checkbox-input:focus + .icon-checked, .checkbox-input:hover + .icon-checked {
  border: 2px solid #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checked {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: #2196f3;
}

.form-field.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-left: 4px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.36px;
}
@media screen and (min-width: 1200px) {
  .form-field.checkbox {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.button-submit {
  display: block;
}
.button-submit:hover, .button-submit:focus {
  background-color: #1d86dd;
}
.button-submit:active {
  color: #2196f3;
  background-color: transparent;
  border: 1px solid #2196f3;
}/*# sourceMappingURL=main.css.map */