.hero {
  @extend %centeredMargin;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $background-color;
  background-size: cover;

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
  padding-bottom: 200px;
  }
}

.hero__title {
  @extend %centeredMargin;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 360px;
  padding: 0;

  color: $primary-white-color;

  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 1.56px;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    max-width: 696px;
    font-size: 44px;
  }
}

.overlay {
  min-height: 400px;
  max-width: 1600px;
  background-color: $bg-overlay-color;
  background-image: $overlay-gradient;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 767px){
    background-image: $overlay-gradient, url(../images/dec-pic/overlay-480.jpg);
  }

  @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), 
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: $overlay-gradient, url(../images/dec-pic/overlay-960@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    background-image: $overlay-gradient, url(../images/dec-pic/overlay-768.jpg);
  }

  @media screen and (min-width: $tablet) and (min-device-pixel-ratio: 2), 
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: $overlay-gradient, url(../images/dec-pic/overlay-1536@2x.jpg);
  }

  @media screen and (min-width: $desktop) and (max-width: 1600px){
    min-height: 600px;
    background-image: $overlay-gradient, url(../images/dec-pic/overlay-1600.jpg);
  }

  @media screen and (min-width: $desktop) and (max-width: 1600px) and (min-device-pixel-ratio: 2), 
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: $overlay-gradient, url(../images/dec-pic/overlay-3200@2x.jpg);
  }
}

.button__primary {
  @extend %button;
  @extend %centeredMargin;
  margin-top: 30px;

  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: $shadow-button;

  &:hover,
  &:focus {
    background-color: $hover-button-color;
  }

  &:active {
    color: $accent-color;
    background-color: transparent;
    border: 2px solid $accent-color;
    cursor: pointer;
  }
}
