// main footer styles
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
}

.footer-container {
    @extend %container;
    display: flex;
  align-items: baseline;
}
