body {
  font-family: $font-primary;
  background-color: $primary-white-color;
  color: $primary-text-color;
  margin: 0;

  // @media (min-width: 800px) {
  //         background-color: teal;
  //     }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body.modal-open, .menu-container.is-open {
  overflow: hidden;
}
