.logo {
    @extend %logo;
    display: inline-flex;
    align-items: center;

    padding-top: 16px;
    padding-bottom: 16px;

    &>.page-header__logo--color {
            color: $logo-color;
    }
}
