.page-header {
  @media screen and (max-width: 767px) {
    position: relative;
    min-height: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  min-height: 80px;

  background-color: $primary-white-color;
  border-bottom: 1px solid $underline-color;

  &.container {
    display: inline-flex;
  }
}
